pr: none
trigger: none

schedules:
- cron: '0 0 1 * *'
  always: true
  branches:
    include:
    - main

jobs:
- job: cleanup
  pool: sonicbld
  timeoutInMinutes: 120
  variables:
    - group: Debian-Mirror-Common

  steps:
    - checkout: none
    - script: |
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
      displayName: install dependencies
    - bash: |
          set -ex
          az login -u $(ApplicationId) --service-principal --tenant $(AzureTenant) -p "$ApplicationKey"
          az account set --subscription 9355ef17-3aa2-493a-94ab-a43a9bf8cd70
          az acr show -n sonicdev
          sudo apt-get update
          sudo apt install -y jq

      env:
        ApplicationKey: '$(ApplicationKey)'
      displayName: az login
    - bash: |
        set -e

        for registry in $(sonic_acrs); do
            repos=$(az acr repository list --name $registry | jq -r .[])
            for repo in $repos; do
                echo "$registry $repo"
                rm -rf tmp
                touch tmp
                az acr repository show-tags -n $registry --repository $repo --orderby time_desc --output table | tail -n +3 > a
                echo "    tag count: $(cat a | wc -l)"
                (( $(cat a | wc -l) < 30 )) && continue
                # keep tag: master,latest,202012
                tags=$(grep -E -e "^20[0-9]{4}(-arm..)?$" -e "^(master|latest)(-arm..)?$" a) || true
                for tag in $tags; do
                    az acr repository show -n $registry --image $repo:$tag 2>/dev/null | jq .digest -r >> tmp || continue
                    echo "    $repo:$tag $(tail -n 1 tmp)"
                done
                # for tag count > 100, keep 12 months, otherwise 24 months
                keep_month=12
                tail_n=40
                (( $(cat a | wc -l) < 100 )) && keep_month=$(( keep_month*2 )) && tail_n=$(( tail_n/2 ))
                echo $repo | grep docker-syncd &>/dev/null && tail_n=$(( tail_n*2 ))
                for tag in $(tail -n $tail_n a); do
                    result=$(az acr repository show -n $registry --image $repo:$tag)
                    sleep 10
                    echo $result | grep -f tmp &>/dev/null && echo "SKIP(head): $registry $repo:$tag $(echo $result | grep -f tmp)" && continue
                    if [[ $(echo $result | jq .lastUpdateTime -r) < $(date -I -d "$keep_month month ago") ]]; then
                        echo "        DELETE $registry $repo:$tag $(echo $result | jq .lastUpdateTime -r)"
                        result=$(az acr repository delete -n $registry --image $repo:$tag -y 2>&1 || [[ $? == 3 ]])
                        echo "            $result"
                        sleep 10
                    else
                        echo "SKIP(time): $registry $repo:$tag $(echo $result | grep -f tmp)"
                    fi
                done
            done
        done
      displayName: main
