# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none
pr: none

schedules:
- cron: "0 */2 * * *"
  displayName: Hourly build
  branches:
    include:
    - main
  always: true

name: $(TeamProject)_$(Build.DefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

stages:
- stage: Build
  pool: sonicso1ES-amd64
  jobs:
  - job: Build
    timeoutInMinutes: 120
    steps:
    - script: |
        set -ex
        # Install Azure cli
        curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
        az version
      displayName: Install Azure CLI
    - task: AzureCLI@2
      displayName: Install build tools
      inputs:
        azureSubscription: 'WIF-soniccr1'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: |
          set -ex
          az account show
          sudo apt-get update
          sudo apt-get install -y python3-pip
          sudo pip3 install --break-system-package azure-storage-queue azure-storage-blob pytz python-dateutil azure.core azure.kusto.data azure.kusto.ingest
    - script: |
        python3 azure-pipelines/scripts/publish-github-prs.py $GITHUB_TOKEN
      env:
        GITHUB_TOKEN: '$(GITHUB_TOKEN)'
      displayName: Upload PR info to kusto