pr: none
trigger: none
schedules:
- cron: "19 1 * * *"
  displayName: Daily build
  branches:
    include:
      - master

parameters:
- name: branches
  type: object
  default:
  - master
  - 202511
  - 202505
  - 202411
  - 202405
  - 202311

variables:
  - group: sonicbld

jobs:
- ${{ each branch in parameters.branches }}:
  - job:
    displayName: ${{ branch }}
    steps:
    - checkout: none
    - bash: |
        set -ex
        sudo rm -rf sonic-buildimage
        git clone https://github.com/sonic-net/sonic-buildimage
        cd sonic-buildimage
        git config user.email $(user_email)
        git config user.name $(user_name)
        git config credential.https://github.com.username $(user_name)
        git remote add mssonicbld https://mssonicbld:$TOKEN@github.com/mssonicbld/sonic-buildimage
        git checkout ${{ branch }}
        git fetch mssonicbld
        git submodule update --init src/*
        echo $TOKEN | gh auth login --with-token
      env:
        TOKEN: $(token)
      displayName: Setup env
    - ${{ if eq(branch, 'master') }}:
      - bash: |
          set -ex
          echo $CERT | base64 -d > cert.pfx
          cert=$(openssl pkcs12 -in cert.pfx -nokeys -nodes -passin pass: | openssl x509 -noout -fingerprint -sha1 | sed 's/^.*=//' | tr -d ':' | tr 'A-Z' 'a-z')
          since=$(date "+%Y-%m-%d" --date="5 day ago")
          gh pr list -R sonic-net/sonic-buildimage -A mssonicbld --head submodule- -S "created:<=$since" --json url,title,statusCheckRollup,createdAt | jq '[.[] | .statusCheckRollup |= map(select(.conclusion == "FAILURE" and (.name|tostring | startswith("Azure.sonic-buildimage")) and (.name|tostring!="Azure.sonic-buildimage") ) | {name, conclusion, status})]' | jq '[.[] | {url, title, createdAt, statusCheckRollup}]' | jq '[.[] | select(.statusCheckRollup | length > 0)]' > log
          c=$(cat log | jq length)
          rm -rf content.log
          touch content.log
          for ((i=0;i<c;i++)); do
            ins=$(cat log | jq .[$i])
            echo $ins | jq -r '.url | "- " + .' >> content.log
            echo $ins | jq -r .title | cut -c1-53 >> content.log
            echo $ins | jq -r '.statusCheckRollup[] | .name' | sed 's/Azure.sonic-buildimage //' | tr -d '\n' | sed 's/$/\n/' >> content.log
          done
          des=$(cat content.log)
          jq -n --arg des "$des" '{"name":"submodule_advance","description":$des,"client":"https://dev.azure.com/mssonic/build/_build?definitionId=955"}' | curl -H "Content-Type: application/json" -X POST https://notice-center.azurewebsites.net/noti_center/notice -d @- -v -H "thumbprint: $cert"
        env:
          CERT: $(cert-noti)
        displayName: Check blocked PRs
    - bash: |
        set -e
        exit 0
        cd sonic-buildimage
        work_space=$(pwd)
        while read -r line
        do
          path=$(echo $line| awk '{print$2}')
          module_name=$(echo $path | sed 's#src/##')
          # if some modules break PR build. Add them to ignore_pathes
          for ignore_path in $(ignore_pathes)
          do
            [[ "$ignore_path" == "$path" ]] && continue 2
          done
          cd $work_space/$path
          # 1. only keep repos in sonic-net organization
          git remote -vv | grep 'github.com/sonic-net/' || continue
          # 2. only update the same branch with sonic-buildimage
          git branch -a --contains HEAD | grep 'remotes/origin/${{ branch }}' || continue

          head=$(git rev-parse HEAD)
          git checkout ${{ branch }}
          git pull
          commits=$(git log ${head}..HEAD --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)[%an]%Creset')
          if [[ "$commits" != "" ]];then
            body="#### Why I did it"$'\n'
            body+="$path"$'\n'
            body+='```'$'\n'
            body+=$commits$'\n'
            body+='```'$'\n'
            body+="#### How I did it"$'\n'
            body+="#### How to verify it"$'\n'
            body+="#### Description for the changelog"$'\n'
            cd $work_space

            git add $path
            git commit -m "[submodule] Update submodule $module_name to the latest HEAD automatically" || continue
            git push mssonicbld HEAD:submodule-${{ branch }}-$module_name -f
            label=""
            echo $(automerge_branches) | grep ${{ branch }} && label=",automerge"
            result=$(gh pr create -R sonic-net/sonic-buildimage -H mssonicbld:submodule-${{ branch }}-$module_name -B ${{ branch }} -t "[submodule][${{ branch }}] Update submodule $module_name to the latest HEAD automatically" -l "Submodule Update :arrow_double_up:$label" -b "$body" 2>&1 || true)
            if echo $result | grep "already exists:"; then
              pr_url=$(echo $result | awk -F"already exists:" '{print$2}')
              gh pr edit $pr_url -b "$body"
            else
              echo $result
              echo $result | grep "https://github.com/sonic-net/sonic-buildimage/pull/"
            fi
            git reset HEAD~ --hard
            sleep $(INTERVAL)
          fi
        done < <(git submodule status -- src/*)
      displayName: Update submodules
